<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('build/common.css') }}">
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('homepage') }}">FamillyBook</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" style="">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <form class=" my-2 my-lg-0">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                        </div>
                        <input class="form-control" type="text" placeholder="Rechercher">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">Rechercher</button>
                        </div>
                    </div>
                </form>
                <ul class="navbar-nav ml-3">
                    <li class="nav-item {{ app.request.attributes.get('_route') == "homepage" ? "active" : ""}}">
                        <a class="nav-link" href="{{ path('homepage') }}">Accueil</a>
                    </li>
                    <li class="nav-item {{ app.request.attributes.get('_route') == "explore" ? "active" : ""}}">
                        <a class="nav-link" href="#">Explorer</a>
                    </li>
                    <li class="nav-item {{ app.request.attributes.get('_route') == "profile" ? "active" : ""}}">
                        <a class="nav-link" href="#"><img src="https://dummyimage.com/24x24/999999/292929.jpg" class="rounded"> Prénom</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-h" data-fa-transform="grow-10"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="far fa-plus-square"></i> Ajouter des photos</a>
                            <a class="dropdown-item" href="#"><i class="far fa-plus-square"></i> Ajouter un album</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item {{ app.request.attributes.get('_route') == "admin" ? "active" : ""}}" href="{{ path('admin') }}"><i class="fas fa-unlock-alt"></i> Admin</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}"><i class="fas fa-power-off"></i> Deconnection</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid mt-5">
            {% block body %}{% endblock %}
        </div>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3Rgk38SAUDb6cuh3AaYwMUx2rkrqoBF8&libraries=places" async defer ></script>
        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
