<table class="table table-hover">
    <thead>
    <tr class="table-active">
        <th scope="col">ID</th>
        <th scope="col">Identifiant</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td class="text-right">
                {% if 'ROLE_ADMIN' not in user.roles %}
                    <a href="{{ path('deleteUser', {user: user.id}) }}" class="btn btn-sm btn-danger"
                       onclick="return confirm('Voulez-vous supprimer {{ user.username }} ?')"><i class="far fa-trash-alt"></i></a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>