
{% set maxPage = (count / countPerPage)|round(0, 'ceil') %}


<ul class="pagination justify-content-center">
    <li class="page-item  {{ currentPage != 1 ? '' : 'disabled' }}">
        <a class="page-link" href="{{ path(routeName) }}"><i class="fas fa-backward"></i></a>
    </li>
    <li class="page-item  {{ currentPage != 1 ? '' : 'disabled' }}">
        <a class="page-link" href="{{ path(routeName, { (paramUrl) :  currentPage - 1}) }}"><i class="fas fa-caret-left"></i></a>
    </li>
    {% for i in 4..1 %}
        {% if currentPage - i >= 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ path(routeName, {(paramUrl):  currentPage - i}) }}">{{ currentPage - i  }}</a>
            </li>
        {% endif %}
    {% endfor %}
    <li class="page-item active">
        <a class="page-link" href="#">{{ currentPage }}</a>
    </li>
    {% for i in 1..4 %}
        {% if currentPage + i <= maxPage %}
            <li class="page-item">
                <a class="page-link" href="{{ path(routeName, {(paramUrl):  currentPage + i}) }}">{{ currentPage + i  }}</a>
            </li>
        {% endif %}
    {% endfor %}
    <li class="page-item {{ currentPage != maxPage ? '' : 'disabled' }}">
        <a class="page-link" href="{{ path(routeName, {(paramUrl):  currentPage + 1}) }}"><i class="fas fa-caret-right"></i></a>
    </li>
    <li class="page-item {{ currentPage != maxPage ? '' : 'disabled' }}">
        <a class="page-link" href="{{ path(routeName , {(paramUrl):  maxPage}) }}"><i class="fas fa-forward"></i></a>
    </li>
</ul>