{% if (redirect != "") %}
    <script>window.location.href = "{{ redirect }}"</script>
{% endif %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('homepage') }}">FamillyBook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <form class=" my-2 my-lg-0">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                </div>
                <input class="form-control" type="text" placeholder="Rechercher">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">Rechercher</button>
                </div>
            </div>
        </form>
        <ul class="navbar-nav ml-3">
            <li class="nav-item {{ app.request.attributes.get('_route') == "homepage" ? "active" : ""}}">
                <a class="nav-link" href="{{ path('homepage') }}">Accueil</a>
            </li>
            <li class="nav-item {{ app.request.attributes.get('_route') == "explore" ? "active" : ""}}">
                <a class="nav-link" href="#">Explorer</a>
            </li>
            <li class="nav-item {{ app.request.attributes.get('_route') == "profile" ? "active" : ""}}">

                <a class="nav-link" href="#">
                    <img src="{{ id ? path('imageResized', {'type': constant('Appbundle\\Controller\\ImageController::TYPE_USER'), 'id': id, 'width' : 24, 'height': 24}): 'https://dummyimage.com/24x24/999999/292929.jpg' }}" class="rounded"> {{ name }}
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-h" data-fa-transform="grow-10"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#"><i class="far fa-plus-square"></i> Ajouter des photos</a>
                    <a class="dropdown-item" href="#"><i class="far fa-plus-square"></i> Ajouter un album</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item {{ app.request.attributes.get('_route') == "admin" ? "active" : ""}}" href="{{ path('admin') }}"><i class="fas fa-unlock-alt"></i> Admin</a>
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}"><i class="fas fa-power-off"></i> Deconnection</a>
                </div>
            </li>
        </ul>
    </div>
</nav>